
<html>
  <head>
    <title>Search Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
<form action="" method="POST">
    <label for="article">Search for article or keywords</label>
    <input type="text" placeholder="Search" name="search" value="{{ request.form.get.search }}">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</body>
</html>